*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

.container{
  width: 100%;
  min-height: 100vh;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 80px;
}

.profilebox {
  margin: 0 auto;
  max-width: 400px; /* Set the maximum width of the profile box */
  text-align: center;
  padding: 20px;
  color: azure;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 5px 10px black;
}

.profile-pic-icon{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
  padding: 6px;
}

.profilebox h3{
  font-size: 20px;
  padding: 10px 10px;
  font-weight: bolder;
}

.bio1 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px; /* Reduce font size for better readability on mobile devices */
}

.social-media img{
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
  width: 50px; /* Reduce size of social media icons for better readability on mobile devices */
  height: 50px;
}
